extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p # of Pages: #{book.number_pages}
        p= book.description
        p Book Cover: #{book.cover_image}
    div.authors
        h4 Author(s)
        form(action=`/books/${book.id}/enroll/` method='post')
            select(name='author' id='author' autocomplete=off)
                each author in availableAuthors
                    option(value=author.id) #{author.first_name}
            button.button.primary(type='submit') Enroll
        table
            thead
                tr
                    th First
                    th Last
                    th Date of Birth
                    th
            tbody
                each author in book.authors
                    tr
                        td= author.first_name
                        td= author.last_name
                        td= author.date_of_birth
                        td
                            a(href=`/authors/profile/${author.id}`) View Author
                            a(href=`/books/${book.id}/removeAuthor/${author.id}`) Remove Author